.to-do-list--tasks-items {
  margin: 24px auto 0;
  padding-bottom: 206px;
  @media (min-width: 992px) {
    max-width: 800px;
  }
  @media (min-width: 1200px) {
    max-width: 1000px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}
