$pink_primary: #e53170;
$grey_primary: #787878;
$grey_secondary: #c0c0c0;
$red_primary: #d63232;

.dialog__title {
  font-size: 26px;
  line-height: 30px;
  color: #000;
  text-align: center;
  margin: 24px 0 0 0;
}
.form {
  margin-top: 24px;
  .form__field {
    & + .form__field {
      margin-top: 16px;
    }
    width: 100%;
    border: 2px solid $pink_primary;
    background-color: transparent;
    color: #000;
    border-radius: 4px;
    outline: none;
    padding: 8px 16px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18px;
    &::placeholder {
      color: $grey_secondary;
    }
    &::-ms-input-placeholder {
      color: $grey_secondary;
    }
    &::-webkit-input-placeholder {
      color: $grey_secondary;
    }
  }
  .form__field--description {
    height: 100px;
    resize: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .form__title-error {
    color: $red_primary;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    margin: 8px 0;
  }
  .form__actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 8px;
    .form-action {
      width: fit-content;
      padding: 8px 16px;
      font-size: 16px;
      line-height: 20px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      &.form-action--cancel-button {
        background-color: transparent;
        border: 1px solid $pink_primary;
        color: $grey_primary;
      }
      &.form-action--submit-button {
        background-color: $pink_primary;
      }
    }
  }
}
