$grey_primary: #787878;

.dialog__details-title {
  font-size: 26px;
  line-height: 30px;
  color: #000;
  margin: 24px 0 0 0;
}
.dialog__details-description {
  font-size: 16px;
  line-height: 20px;
  color: $grey_primary;
  max-height: 300px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: 16px;
  &::-webkit-scrollbar {
    display: none;
  }
}
