$pink_primary: #e53170;

.to-do-list--dashboard {
  margin-top: 32px;
  .to-do-list--no-tasks {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: $pink_primary;
    margin: 24px 0 0 0;
  }
  .to-do-list--add-task-button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border-top: 2px solid $pink_primary;
    display: flex;
    justify-content: flex-end;
    .to-do-list--add-task-button-wrapper {
      padding: 16px;
      .to-do-list--add-task-button {
        display: flex;
        background-color: transparent;
        color: $pink_primary;
        padding: 0;
        border: none;
        cursor: pointer;
        svg {
          width: 60px;
          height: auto;
        }
      }
    }
  }
}
