$pink_primary: #e53170;

.to-do-list--dashboard {
  height: calc(100vh - 76px);
  padding: 0 16px;
  .to-do-list--no-tasks {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: $pink_primary;
    margin-top: 24px;
    margin-bottom: 0;
  }
  .to-do-list--add-task-button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border-top: 2px solid $pink_primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .to-do-list--current-tasks {
      font-size: 16px;
      line-height: 20px;
      color: $pink_primary;
      flex: 1;
      text-align: center;
      @media (min-width: 768px) {
        font-size: 20px;
        line-height: 24px;
      }
    }
    .to-do-list--add-task-button {
      display: flex;
      background-color: transparent;
      color: $pink_primary;
      border: none;
      cursor: pointer;
      padding: 0;
      margin: 8px 8px 8px 0;
      svg {
        width: 60px;
        height: auto;
      }
    }
  }
}
