.to-do-list--app {
  padding: 16px;
  header {
    @media (min-width: 992px) {
      max-width: 800px;
      margin: 0 auto;
    }
    @media (min-width: 1200px) {
      max-width: 1000px;
    }
    .to-do-list--main-title {
      font-size: 32px;
      line-height: 36px;
      font-weight: 700;
      color: #000;
      margin: 0;
    }
  }
}
